:root {
  --spacer: 12px;
  --spacerX2: calc(var(--spacer) * 2);

  --primary: var(--primary);
}

@font-face {
  font-family: "Roboto";
  src: url(res/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(res/Roboto/Roboto-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: url(res/Roboto/Roboto-Light.ttf);
  font-weight: lighter;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.btn {
  padding: calc(var(--spacer) / 2) var(--spacer);
  border: none;
  border-radius: var(--spacer);
}

.checkbox {
  border: none;
  width: 24px;
  height: 24px;
  background: url(res/checkbox-blank-circle-outline.svg);
}

.checked {
  background: url(res/check-circle-outline.svg);
}

.modal {
  position: absolute;
  background-color: white;
  min-width: 10vw;
  padding: var(--spacer);
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  border-radius: var(--spacer);
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.123);
  /* span {
    min-height: 24px;
    line-height: 20px;
    margin-bottom: var(--spacer);
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    display: block;
    resize: both;
    max-width: 20vw;
    overflow: hidden;
  } */

  .modal-bottom-container {
    display: flex;
    justify-content: space-between;
    gap: var(--spacer);
  }
  select {
    width: 33%;
  }
}

main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.container {
  padding: var(--spacer);
  display: flex;
  gap: var(--spacer);
}

.container > h1 {
  margin-bottom: var(--spacer);
}

.sidebar-container {
  flex-direction: column;
  align-items: start;
}

.project-container {
  padding: var(--spacer);
}

#sidebar {
  background-color: #ffca58;
}

.card {
  padding: 8px;
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  gap: var(--spacer);
}

.hidden {
  display: none;
}
